**Prepared By:**

Gabriel Woon

# VaR Analysis

### Import Library & Data

In [1]:
import numpy as np
import pandas as pd
import scipy
from scipy import stats

In [2]:
shareprices = pd.read_excel("shareprices.xlsx")

### a) Calculate the log return and relevant statistics, such as variance, skewness, kurtosis

In [3]:
shareprices["DBS SP Equity Log"] = np.log(shareprices['DBS SP Equity']/shareprices['DBS SP Equity'].shift(1)).dropna()
shareprices["SIA SP Equity Log"] = np.log(shareprices['SIA SP Equity']/shareprices['SIA SP Equity'].shift(1)).dropna()
shareprices

,Date,DBS SP Equity,SIA SP Equity,DBS SP Equity Log,SIA SP Equity Log
0,2001-11-06,10.1,8.1605,NaN,NaN
1,2001-11-07,10.2,8.1605,0.009852,0.000000
2,2001-11-08,10.1,8.2607,-0.009852,0.012204
3,2001-11-09,10.3,8.8114,0.019608,0.064537
4,2001-11-12,10.0,9.4121,-0.029559,0.065950
...,...,...,...,...,...
1470,2007-09-17,19.4,18.7000,-0.010257,-0.015915
1471,2007-09-18,19.3,18.7000,-0.005168,0.000000
1472,2007-09-19,20.1,18.8000,0.040615,0.005333
1473,2007-09-20,20.4,18.6000,0.014815,-0.010695
1474,2007-09-21,20.2,18.7000,-0.009852,0.005362

**DBS**

In [4]:
DBS_Mean = shareprices["DBS SP Equity Log"].mean()
DBS_Mean

0.0004702491048574926

In [5]:
DBS_Std = shareprices["DBS SP Equity Log"].std()
DBS_Std

0.016493004149468315

In [6]:
DBS_Var = shareprices["DBS SP Equity Log"].var()
DBS_Var

0.000272019185874379

In [7]:
DBS_Skew = scipy.stats.skew(shareprices["DBS SP Equity Log"][1:], bias=False)
DBS_Skew

0.09977372575778977

In [8]:
DBS_Kurt = scipy.stats.kurtosis(shareprices["DBS SP Equity Log"][1:], bias=False)
DBS_Kurt

1.275684714671094

In [9]:
DBS_Statistics = pd.DataFrame({
    'DBS':["Mean", 
           "Var", 
           "Skew", 
           "Kurt"], 
    'Statistics': [DBS_Mean, 
                   DBS_Var, 
                   DBS_Skew, 
                   DBS_Kurt]})
DBS_Statistics

    DBS  Statistics
0  Mean    0.000470
1   Var    0.000272
2  Skew    0.099774
3  Kurt    1.275685

**SIA**

In [10]:
SIA_Mean = shareprices["SIA SP Equity Log"].mean()
SIA_Mean

0.0005625631494246457

In [11]:
SIA_Std = shareprices["SIA SP Equity Log"].std()
SIA_Std

0.01731434411741326

In [12]:
SIA_Var = shareprices["SIA SP Equity Log"].var()
SIA_Var

0.00029978651221620307

In [13]:
SIA_Skew = scipy.stats.skew(shareprices["SIA SP Equity Log"][1:], bias=False)
SIA_Skew

0.24671781769540677

In [14]:
SIA_Kurt = scipy.stats.kurtosis(shareprices["SIA SP Equity Log"][1:], bias=False)
SIA_Kurt

1.3746524921695107

In [15]:
SIA_Statistics = pd.DataFrame({
    'SIA':["Mean", 
           "Var", 
           "Skew", 
           "Kurt"], 
    'Statistics': [SIA_Mean,
                   SIA_Var,
                   SIA_Skew,
                   SIA_Kurt]})
SIA_Statistics

    SIA  Statistics
0  Mean    0.000563
1   Var    0.000300
2  Skew    0.246718
3  Kurt    1.374652

### b) Perform normality tests

**DBS**

In [16]:
DBS_NormalTest = scipy.stats.normaltest(shareprices["DBS SP Equity Log"][1:])
DBS_NormalTest

NormaltestResult(statistic=43.830564776181134, pvalue=3.036084044676182e-10)

In [17]:
DBS_JarqueBera= scipy.stats.jarque_bera(shareprices["DBS SP Equity Log"][1:])
DBS_JarqueBera

Jarque_beraResult(statistic=101.07780438279802, pvalue=0.0)

In [18]:
DBS_Test = pd.DataFrame({
    'Hypothesis Test':["Test Statistic", 
                       "P-Value"]})

DBS_Test.assign(DBS_NormalTest=DBS_NormalTest, DBS_JarqueBera=DBS_JarqueBera)

  Hypothesis Test  DBS_NormalTest  DBS_JarqueBera
0  Test Statistic    4.383056e+01      101.077804
1         P-Value    3.036084e-10        0.000000

**SIA**

In [19]:
SIA_NormalTest = scipy.stats.normaltest(shareprices["SIA SP Equity Log"][1:])
SIA_NormalTest

NormaltestResult(statistic=60.171785540171655, pvalue=8.587421633257203e-14)

In [20]:
SIA_JarqueBera = scipy.stats.jarque_bera(shareprices["SIA SP Equity Log"][1:])
SIA_JarqueBera

Jarque_beraResult(statistic=129.51162580671462, pvalue=0.0)

In [21]:
SIA_Test = pd.DataFrame({
    'Hypothesis Test':["Test Statistic", 
                       "P-Value"]})

SIA_Test.assign(SIA_NormalTest=SIA_NormalTest, SIA_JarqueBera=SIA_JarqueBera)

  Hypothesis Test  SIA_NormalTest  SIA_JarqueBera
0  Test Statistic    6.017179e+01      129.511626
1         P-Value    8.587422e-14        0.000000

### c) Calculate VaR for each stock using delta normal approach

**DBS**

In [22]:
# 99% Confidence Level
DBS_DeltaNormal_99 = scipy.stats.norm.ppf(0.01, DBS_Mean, DBS_Std)
DBS_DeltaNormal_99

-0.03789821603480489

In [23]:
# 95% Confidence Level
DBS_DeltaNormal_95 = scipy.stats.norm.ppf(0.05, DBS_Mean, DBS_Std)
DBS_DeltaNormal_95

-0.026658328589721156

**SIA**

In [24]:
# 99% Confidence Level
SIA_DeltaNormal_99 = scipy.stats.norm.ppf(0.01, SIA_Mean, SIA_Std)
SIA_DeltaNormal_99

-0.03971662447853122

In [25]:
# 95% Confidence Level
SIA_DeltaNormal_95 = scipy.stats.norm.ppf(0.05, SIA_Mean, SIA_Std)
SIA_DeltaNormal_95

-0.02791699857038845

### d) Calculate VaR for each stock using historical simulation approach (bootstrap)

In [26]:
def VaR_95(data):
     return np.percentile(data, 5)
    
def VaR_99(data):
     return np.percentile(data, 1)

def bootstrap(data, func):
    sample = np.random.choice(data, len(data))
    return func(sample)

def draw_bs_reps(data, func, size):
    """Draw bootstrap replicates"""
    # Initialize array of replicates
    bs_replicates = np.empty(size)
    # Generate replicates
    for i in range(size):
        bs_replicates[i] = bootstrap(data, func)
    return bs_replicates

**DBS**

In [27]:
# 99% Confidence Level (100,000x)
DBS_Historical_99 = draw_bs_reps(shareprices["DBS SP Equity Log"][1:], VaR_99, 100000).mean()
DBS_Historical_99

-0.04252471267261163

In [28]:
# 95% Confidence Level (100,000x)
DBS_Historical_95 = draw_bs_reps(shareprices["DBS SP Equity Log"][1:], VaR_95, 100000).mean()
DBS_Historical_95

-0.027278527451114424

**SIA**

In [29]:
# 99% Confidence Level (100,000x)
SIA_Historical_99 = draw_bs_reps(shareprices["SIA SP Equity Log"][1:], VaR_99, 100000).mean()
SIA_Historical_99

-0.04275930703173802

In [30]:
# 95% Confidence Level (100,000x)
SIA_Historical_95 = draw_bs_reps(shareprices["SIA SP Equity Log"][1:], VaR_95, 100000).mean()
SIA_Historical_95

-0.026195409842209263

### e) Calculate VaR for each stock using Monte Carlo approach

**DBS**

In [31]:
# assume normal distribution
DBS_MonteCarlo = np.random.normal(DBS_Mean, DBS_Std, 1000000)

In [32]:
# 99% Confidence Level (1,000,000x)
DBS_MonteCarlo_99 = np.percentile(DBS_MonteCarlo, 1)
DBS_MonteCarlo_99

-0.03782425562897778

In [33]:
# 95% Confidence Level (1,000,000x)
DBS_MonteCarlo_95 = np.percentile(DBS_MonteCarlo, 5)
DBS_MonteCarlo_95

-0.02666461450441959

**SIA**

In [34]:
# assume normal distribution
SIA_MonteCarlo = np.random.normal(SIA_Mean, SIA_Std, 1000000)

In [35]:
# 99% Confidence Level (1,000,000x)
SIA_MonteCarlo_99 = np.percentile(SIA_MonteCarlo, 1)
SIA_MonteCarlo_99

-0.039759951576634076

In [36]:
# 95% Confidence Level (1,000,000x)
SIA_MonteCarlo_95 = np.percentile(SIA_MonteCarlo, 5)
SIA_MonteCarlo_95

-0.02795722907525184

### f) Compare the different approaches

**DBS**

In [37]:
DBS_99 = pd.Series([DBS_DeltaNormal_99, DBS_Historical_99, DBS_MonteCarlo_99], index=[0, 2, 1])
DBS_95 = pd.Series([DBS_DeltaNormal_95, DBS_Historical_95, DBS_MonteCarlo_95], index=[0, 2, 1])

DBS_Summary = pd.DataFrame({
    'Confidence Level':["DeltaNormal", 
                        "Historical", 
                        "MonteCarlo"]})

DBS_Summary.assign(DBS_99=DBS_99, DBS_95=DBS_95)

  Confidence Level    DBS_99    DBS_95
0      DeltaNormal -0.037898 -0.026658
1       Historical -0.037824 -0.026665
2       MonteCarlo -0.042525 -0.027279

**SIA**

In [38]:
SIA_99 = pd.Series([SIA_DeltaNormal_99, SIA_Historical_99, SIA_MonteCarlo_99], index=[0, 2, 1])
SIA_95 = pd.Series([SIA_DeltaNormal_95, SIA_Historical_95, SIA_MonteCarlo_95], index=[0, 2, 1])

SIA_Summary = pd.DataFrame({
    'Confidence Level':["DeltaNormal", 
                        "Historical", 
                        "MonteCarlo"]})

SIA_Summary.assign(SIA_99=SIA_99, SIA_95=SIA_95)

  Confidence Level    SIA_99    SIA_95
0      DeltaNormal -0.039717 -0.027917
1       Historical -0.039760 -0.027957
2       MonteCarlo -0.042759 -0.026195

### g) Create a hypothetical portfolio of these two stocks, calculate the covariance matrix, then use Monte Carlo simulation to calculate VaR for your portfolio

In [39]:
DBS_SIA_Cov = np.cov(shareprices["DBS SP Equity Log"][1:], shareprices["SIA SP Equity Log"][1:])
print(DBS_SIA_Cov)

[[0.00027202 0.00010684]
 [0.00010684 0.00029979]]

In [40]:
# DBS = 70% weightage
# SIA = 30% weightage
shareprices["Portfolio Log"] = 0.5*shareprices["DBS SP Equity Log"] + 0.5*shareprices["SIA SP Equity Log"]
shareprices

,Date,DBS SP Equity,SIA SP Equity,DBS SP Equity Log,SIA SP Equity Log,Portfolio Log
0,2001-11-06,10.1,8.1605,NaN,NaN,NaN
1,2001-11-07,10.2,8.1605,0.009852,0.000000,0.004926
2,2001-11-08,10.1,8.2607,-0.009852,0.012204,0.001176
3,2001-11-09,10.3,8.8114,0.019608,0.064537,0.042073
4,2001-11-12,10.0,9.4121,-0.029559,0.065950,0.018195
...,...,...,...,...,...,...
1470,2007-09-17,19.4,18.7000,-0.010257,-0.015915,-0.013086
1471,2007-09-18,19.3,18.7000,-0.005168,0.000000,-0.002584
1472,2007-09-19,20.1,18.8000,0.040615,0.005333,0.022974
1473,2007-09-20,20.4,18.6000,0.014815,-0.010695,0.002060
1474,2007-09-21,20.2,18.7000,-0.009852,0.005362,-0.002245

In [41]:
Portfolio_Mean = shareprices["Portfolio Log"].mean()
Portfolio_Mean

0.0005164061271410698

In [42]:
Portfolio_Std = shareprices["Portfolio Log"].std()
Portfolio_Std

0.01401334651312172

In [43]:
Portfolio_Var = shareprices["Portfolio Log"].var()
Portfolio_Var

0.00019637388049682068

In [44]:
Portfolio_Skew = scipy.stats.skew(shareprices["Portfolio Log"][1:], bias=False)
Portfolio_Skew

0.18503215757248195

In [45]:
Portfolio_Kurt = scipy.stats.kurtosis(shareprices["Portfolio Log"][1:], bias=False)
Portfolio_Kurt

1.687367604929677

In [46]:
Portfolio_Statistics = pd.DataFrame({
    'Portfolio':["Mean", 
                 "Var", 
                 "Skew", 
                 "Kurt"], 
    'Statistics': [Portfolio_Mean, 
                   Portfolio_Var, 
                   Portfolio_Skew, 
                   Portfolio_Kurt]})
Portfolio_Statistics

  Portfolio  Statistics
0      Mean    0.000516
1       Var    0.000196
2      Skew    0.185032
3      Kurt    1.687368

In [47]:
# assume normal distribution
Portfolio_MonteCarlo = np.random.normal(Portfolio_Mean, Portfolio_Std, 1000000)

In [48]:
# 99% Confidence Level (1,000,000x)
Portfolio_MonteCarlo_99 = np.percentile(Portfolio_MonteCarlo, 1)
Portfolio_MonteCarlo_99

-0.032019523202975755

In [49]:
# 95% Confidence Level (100,000x)
Portfolio_MonteCarlo_95 = np.percentile(Portfolio_MonteCarlo, 5)
Portfolio_MonteCarlo_95

-0.022505515323647703

In [50]:
Portfolio_99 = pd.Series([Portfolio_MonteCarlo_99], index=[0])
Portfolio_95 = pd.Series([Portfolio_MonteCarlo_95], index=[0])

Portfolio_Summary = pd.DataFrame({
    'Confidence Level':["MonteCarlo"]})

Portfolio_Summary.assign(Portfolio_99=Portfolio_99, Portfolio_95=Portfolio_95)

  Confidence Level  Portfolio_99  Portfolio_95
0       MonteCarlo      -0.03202     -0.022506